# Phase 2 queries with PandaSql

### Now once completed with queries in the SQLite database, then make the exact query solutions by using PANDAS SQL in the data frame.  Load the CSV data in a data frame and start making solutions for all the above 15 queries using PANDAS SQL. You may use concat or merge joins per the requirements basis to make 5 join queries.

#### Table 1(csv_1): Sno, MovieName, Director Name, Duration, genre, ratings

1)  Display all the details of movies created by directors Christopher and Matt Reeves.

2) Display all the details of movies with a duration of 140 minutes to 190 minutes.

3) Display all details of movies with ratings above 7 in ascending order.

4) Display all movie names in descending order.

5) Display movie name starts with ‘P’ and their rating is greater than 7.



#### Table 2(csv_2): Movie Name, stars, votes, Genre, Gross collection, popularity, Certification 

1) Display all movie names with star Arnold Schwarzenegger in ascending order.

2) Display all details of the movie with the highest number of votes.

3) Display movie names with gross collections in descending order.

4) Display the gross collection of movies with the star Arnold.

5) Display all details of movies with comedy and action genres.



#### Make subquery :

1) Display all details from both tables where movie names are the same.

2) Display all movie names, Director, ratings, and gross collection where the genre is action.

3) Display all details from both tables with the highest gross collection.

4) Display all details from both tables with the highest ratings

5) Display all details from both tables with the lowest gross collection and lowest ratings

In [21]:
import pandas as pd,numpy as np
import pandasql as sql

In [87]:
df1=pd.read_csv("csv_1.csv")
df2=pd.read_csv("csv_2.csv")

In [91]:
df1

,S.no,movie_name,director,duration,movie_year,rating
0,1,The Dark Knight,Christopher Nolan,152 min,2008,9.0
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,201 min,2003,9.0
2,3,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,140 min,2023,8.9
3,4,Inception,Christopher Nolan,148 min,2010,8.8
4,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178 min,2001,8.8
...,...,...,...,...,...,...
1695,"1,695",Howard the Duck,Farhad Samji,110 min,1986,4.7
1696,"1,696",Kisi Ka Bhai Kisi Ki Jaan,Frank Miller,145 min,2023,4.7
1697,"1,697",The Spirit,Ben Stiller,103 min,2008,4.7
1698,"1,698",Zoolander 2,Jonathan Levine,101 min,2016,4.7
1699,"1,699",Snatched,Dwight H. Little,90 min,2017,4.7

### Table 1(csv_1): Sno, MovieName, Director Name, Duration, genre, ratings

#### query1

In [35]:
#Display all the details of movies created by directors Christopher and Matt Reeves.

query = "SELECT * FROM df1 WHERE director IN ('Christopher Nolan', 'Matt Reeves')"
df=sql.sqldf(query)

In [36]:
df

,S.no,Movie_name,director,duration,movie_year,rating
0,1,The Dark Knight,Christopher Nolan,152 min,2008,9.0
1,4,Inception,Christopher Nolan,148 min,2010,8.8
2,22,The Dark Knight Rises,Christopher Nolan,164 min,2012,8.4
3,40,Batman Begins,Christopher Nolan,140 min,2005,8.2
4,131,Everything Everywhere All at Once,Matt Reeves,139 min,2022,7.8
5,132,The Batman,Christopher Nolan,176 min,2022,7.8
6,230,The Raid: Redemption,Matt Reeves,101 min,2011,7.6
7,309,Law Abiding Citizen,Matt Reeves,109 min,2009,7.4
8,322,Bullet Train,Christopher Nolan,127 min,2022,7.3
9,515,Sicario: Day of the Soldado,Matt Reeves,122 min,2018,7.0

#### query2

In [38]:
#Display all the details of movies with a duration of 140 minutes to 190 minutes.
query = "SELECT * FROM df1 WHERE duration BETWEEN 140  and 190 "
df=sql.sqldf(query)

In [39]:
df

,S.no,Movie_name,director,duration,movie_year,rating
0,1,The Dark Knight,Christopher Nolan,152 min,2008,9.0
1,3,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,140 min,2023,8.9
2,4,Inception,Christopher Nolan,148 min,2010,8.8
3,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178 min,2001,8.8
4,6,The Lord of the Rings: The Two Towers,Peter Jackson,179 min,2002,8.8
...,...,...,...,...,...,...
195,"1,665",Bachchhan Paandey,Elizabeth Banks,147 min,2022,5.1
196,"1,675",Dilwale,Barry Sonnenfeld,158 min,2015,5.0
197,"1,684",Happy New Year,Frank Coraci,180 min,I) (2014,4.9
198,"1,693",Shamshera,Rob Bowman,178 min,2022,4.8
199,"1,696",Kisi Ka Bhai Kisi Ki Jaan,Frank Miller,145 min,2023,4.7

#### query3

In [41]:
#Display all details of movies with ratings above 7 in ascending order.


query = "select * from df1 where rating >7 order by rating asc "
df=sql.sqldf(query)

In [42]:
df

,S.no,Movie_name,director,duration,movie_year,rating
0,433,Mission: Impossible,Sam Hargrave,110 min,1996,7.1
1,434,Extraction II,Stephen Sommers,122 min,2023,7.1
2,435,The Mummy,Zack Snyder,124 min,1999,7.1
3,436,Man of Steel,Dan Trachtenberg,143 min,2013,7.1
4,437,Prey,Ben Stiller,100 min,I) (2022,7.1
...,...,...,...,...,...,...
489,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178 min,2001,8.8
490,6,The Lord of the Rings: The Two Towers,Peter Jackson,179 min,2002,8.8
491,3,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,140 min,2023,8.9
492,1,The Dark Knight,Christopher Nolan,152 min,2008,9.0
493,2,The Lord of the Rings: The Return of the King,Peter Jackson,201 min,2003,9.0

#### query4

In [43]:
#Display all movie names in descending order.



query = "select Movie_name from df1 order by Movie_name desc  "
df=sql.sqldf(query)

In [44]:
df

                      Movie_name
0                       Æon Flux
1     xXx: Return of Xander Cage
2                            xXx
3                    Zoolander 2
4         Zombieland: Double Tap
...                          ...
1695                   12 Strong
1696                   12 Rounds
1697                   10,000 BC
1698                         '71
1699                      #Alive

[1700 rows x 1 columns]

#### query5

In [45]:
#Display movie name starts with ‘P’ and their rating is greater than 7.


query = "select Movie_name,rating from df1 where Movie_name like 'P%' and rating >7  "
df=sql.sqldf(query)

In [46]:
df

                                           Movie_name  rating
0                                   Princess Mononoke     8.3
1                                    Paan Singh Tomar     8.2
2   Pirates of the Caribbean: The Curse of the Bla...     8.1
3                                            Predator     7.8
4                             Ponniyin Selvan: Part I     7.6
5                           Pushpa: The Rise - Part 1     7.6
6                                        Police Story     7.5
7                                      Predestination     7.4
8          Pirates of the Caribbean: Dead Man's Chest     7.3
9                                        Patriots Day     7.3
10                                        Point Break     7.2
11                                               Prey     7.1
12           Pirates of the Caribbean: At World's End     7.1
13                                            Payback     7.1

### Table 2(csv_2): Movie Name, stars, votes, Genre, Gross collection, popularity, Certification

#### query1

In [51]:
#Display all movie names with star Arnold Schwarzenegger in ascending order.

query = "select movie_name,star1 from df2 where star1 in ('Arnold Schwarzenegger') "
df=sql.sqldf(query)
df

                        movie_name                  star1
0       Terminator 2: Judgment Day  Arnold Schwarzenegger
1   Guardians of the Galaxy Vol. 3  Arnold Schwarzenegger
2                        Star Trek  Arnold Schwarzenegger
3        Aguirre, the Wrath of God  Arnold Schwarzenegger
4                      Baby Driver  Arnold Schwarzenegger
5                       Collateral  Arnold Schwarzenegger
6              Law Abiding Citizen  Arnold Schwarzenegger
7                   The Negotiator  Arnold Schwarzenegger
8              In the Line of Fire  Arnold Schwarzenegger
9                       Real Steel  Arnold Schwarzenegger
10                         Super 8  Arnold Schwarzenegger
11                          Sultan  Arnold Schwarzenegger
12                        Repo Man  Arnold Schwarzenegger
13                    Ghostbusters  Arnold Schwarzenegger
14                            Tron  Arnold Schwarzenegger
15                     Red Sparrow  Arnold Schwarzenegger
16                 Ghostbusters II  Arnold Schwarzenegger
17                       12 Strong  Arnold Schwarzenegger
18               Batman: The Movie  Arnold Schwarzenegger
19                      Death Race  Arnold Schwarzenegger
20                      Red Notice  Arnold Schwarzenegger
21                   Osmosis Jones  Arnold Schwarzenegger
22                 The Devil's Own  Arnold Schwarzenegger
23                      Blown Away  Arnold Schwarzenegger
24                I Am Number Four  Arnold Schwarzenegger
25                         Thunivu  Arnold Schwarzenegger
26                   The Condemned  Arnold Schwarzenegger
27                        Daylight  Arnold Schwarzenegger
28                    Hard to Kill  Arnold Schwarzenegger
29                     The Do-Over  Arnold Schwarzenegger
30                  Chain Reaction  Arnold Schwarzenegger
31                    Babylon A.D.  Arnold Schwarzenegger
32         The Karate Kid Part III  Arnold Schwarzenegger
33                Agent Cody Banks  Arnold Schwarzenegger

#### query2

In [53]:
#Display all details of the movie with the highest number of votes.

query = "SELECT * FROM df2 ORDER BY Votes DESC LIMIT 1"
df=sql.sqldf(query)
df

,movie_name,star1,star2,votes,genre1,genre2,genre3,popularity,certification,gross
0,Firestarter,Kemp Powers,Justin K. Thompson,"99,918",Action,Sci-Fi,Thriller,6.0,PG-13,$186260

#### query3

In [54]:
#Display movie names with gross collections in descending order.

query = "select movie_name,gross from df2 order by gross  desc "
df=sql.sqldf(query)
df

                             movie_name     gross
0                    Gangs of Wasseypur    $99908
1                           Wolfwalkers    $99908
2            Captain America: Civil War    $99908
3                              Scarface    $99908
4                              Cell 211    $99908
...                                 ...       ...
1695                            Ben-Hur  $1003517
1696                          MacGruber  $1003517
1697     Gunjan Saxena: The Kargil Girl  $1003517
1698  Spy Kids 2: Island of Lost Dreams  $1003517
1699                   Charlie's Angels  $1003517

[1700 rows x 2 columns]

#### query4

In [55]:
#Display the gross collection of movies with the star Arnold.

query = "select gross,movie_name from df2 where star1 in ('Arnold Schwarzenegger') "
df=sql.sqldf(query)
df

       gross                      movie_name
0   $1131213      Terminator 2: Judgment Day
1   $1131213  Guardians of the Galaxy Vol. 3
2   $1131213                       Star Trek
3   $1131213       Aguirre, the Wrath of God
4   $1131213                     Baby Driver
5   $1131213                      Collateral
6   $1131213             Law Abiding Citizen
7   $1131213                  The Negotiator
8   $1131213             In the Line of Fire
9   $1131213                      Real Steel
10  $1131213                         Super 8
11  $1131213                          Sultan
12  $1131213                        Repo Man
13  $1131213                    Ghostbusters
14  $1131213                            Tron
15  $1131213                     Red Sparrow
16  $1131213                 Ghostbusters II
17  $1131213                       12 Strong
18  $1131213               Batman: The Movie
19  $1131213                      Death Race
20  $1131213                      Red Notice
21  $1131213                   Osmosis Jones
22  $1131213                 The Devil's Own
23  $1131213                      Blown Away
24  $1131213                I Am Number Four
25  $1131213                         Thunivu
26  $1131213                   The Condemned
27  $1131213                        Daylight
28  $1131213                    Hard to Kill
29  $1131213                     The Do-Over
30  $1131213                  Chain Reaction
31  $1131213                    Babylon A.D.
32  $1131213         The Karate Kid Part III
33  $1131213                Agent Cody Banks

#### query5

In [56]:
#Display all details of movies with comedy and action genres.

query = "select movie_name,genre1,genre2 from df2 where 'Comedy' in (genre1, genre2, genre3) AND 'Action' IN (genre1, genre2, genre3)"
df=sql.sqldf(query)
df

                                         movie_name  genre1     genre2
0                                Gangs of Wasseypur  Action     Comedy
1                                  K.G.F: Chapter 1  Action     Comedy
2                                  Sound of Freedom  Action  Adventure
3                          How to Train Your Dragon  Action     Comedy
4    Neon Genesis Evangelion: The End of Evangelion  Action  Adventure
..                                              ...     ...        ...
345                                     Double Team  Action  Adventure
346                                         Elektra  Action  Adventure
347                                 Howard the Duck  Action     Comedy
348                                      The Spirit  Action  Adventure
349                                     Zoolander 2  Action  Adventure

[350 rows x 3 columns]

### Make subquery :

#### Display all details from both tables where movie names are the same.

In [92]:
merged_df = pd.merge(df1, df2, on='movie_name', how='inner')
merged_df

,S.no,movie_name,director,duration,movie_year,rating,star1,star2,votes,genre1,genre2,genre3,popularity,certification,gross
0,1,The Dark Knight,Christopher Nolan,152 min,2008,9.0,Christian Bale,Heath Ledger,"2,741,650",Action,Crime,Drama,9.0,UA,$2741690
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,201 min,2003,9.0,Elijah Wood,Viggo Mortensen,"1,899,228",Action,Adventure,Drama,9.0,U,$1899240
2,3,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,140 min,2023,8.9,Kemp Powers,Justin K. Thompson,"186,212",Animation,Action,Adventure,8.9,U,$186260
3,4,Inception,Christopher Nolan,148 min,2010,8.8,Leonardo DiCaprio,Joseph Gordon-Levitt,"2,432,910",Action,Adventure,Sci-Fi,8.8,UA,$2432950
4,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178 min,2001,8.8,Elijah Wood,Ian McKellen,"1,927,643",Action,Adventure,Drama,8.8,U,$1927658
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1757,"1,695",Howard the Duck,Farhad Samji,110 min,1986,4.7,Natsuki Hanae,Akari Kitô,"38,865",Action,Comedy,Drama,4.7,UA,$66121
1758,"1,696",Kisi Ka Bhai Kisi Ki Jaan,Frank Miller,145 min,2023,4.7,Manoj Bajpayee,Nawazuddin Siddiqui,"62,188",Action,Crime,Fantasy,4.7,PG-13,$99908
1759,"1,697",The Spirit,Ben Stiller,103 min,2008,4.7,Prabhas,Rana Daggubati,"73,346",Action,Adventure,Comedy,4.7,U,$108098
1760,"1,698",Zoolander 2,Jonathan Levine,101 min,2016,4.7,Toshirô Mifune,Eijirô Tôno,"36,636",Action,Adventure,Comedy,4.7,R,$126747
1761,"1,699",Snatched,Dwight H. Little,90 min,2017,4.7,Vicky Kaushal,Paresh Rawal,"32,861",Action,Adventure,Horror,4.7,U,$68321

#### Display all movie names, Director, ratings, and gross collection where the genre is action.

In [96]:
merged_df = df1.merge(df2, on='movie_name', how='inner')
# Filter rows where genre1 is 'Action'
filtered_df = merged_df[merged_df['genre1'] == 'Action']

# Concatenate the desired columns from df1 and df2
result = pd.concat([filtered_df[['movie_name', 'director', 'rating','genre1']], filtered_df['gross']], axis=1)
result

,movie_name,director,rating,genre1,gross
0,The Dark Knight,Christopher Nolan,9.0,Action,$2741690
1,The Lord of the Rings: The Return of the King,Peter Jackson,9.0,Action,$1899240
3,Inception,Christopher Nolan,8.8,Action,$2432950
4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,8.8,Action,$1927658
5,The Lord of the Rings: The Two Towers,Peter Jackson,8.8,Action,$1713981
...,...,...,...,...,...
1757,Howard the Duck,Farhad Samji,4.7,Action,$66121
1758,Kisi Ka Bhai Kisi Ki Jaan,Frank Miller,4.7,Action,$99908
1759,The Spirit,Ben Stiller,4.7,Action,$108098
1760,Zoolander 2,Jonathan Levine,4.7,Action,$126747
1761,Snatched,Dwight H. Little,4.7,Action,$68321

#### Display all details from both tables with the highest gross collection.

In [97]:
merged_df = df1.merge(df2, on='movie_name', how='inner')

# Find the row(s) with the highest gross collection
max_gross = merged_df['gross'].max()

highest_gross_movies = merged_df[merged_df['gross'] == max_gross]
highest_gross_movies

,S.no,movie_name,director,duration,movie_year,rating,star1,star2,votes,genre1,genre2,genre3,popularity,certification,gross
49,47,Gangs of Wasseypur,Anurag Kashyap,321 min,2012,8.2,Manoj Bajpayee,Nawazuddin Siddiqui,"99,908",Action,Comedy,Crime,8.2,A,$99908
104,96,Wolfwalkers,Andrew Lau,103 min,2020,8.0,Manoj Bajpayee,Nawazuddin Siddiqui,"128,147",Action,Crime,Drama,8.0,UA,$99908
160,146,Captain America: Civil War,Pierre Morel,147 min,2016,7.8,Manoj Bajpayee,Nawazuddin Siddiqui,"617,299",Action,Crime,Thriller,7.8,A,$99908
213,196,Scarface,John Huston,93 min,1932,7.7,Manoj Bajpayee,Nawazuddin Siddiqui,"42,746",Action,Crime,Drama,7.7,NaN,$99908
235,217,RoboCop,John McTiernan,102 min,1987,7.6,Manoj Bajpayee,Nawazuddin Siddiqui,"94,950",Action,Family,Sport,6.1,U,$99908
237,"1,196",RoboCop,John G. Avildsen,117 min,2014,6.1,Manoj Bajpayee,Nawazuddin Siddiqui,"94,950",Action,Family,Sport,6.1,U,$99908
266,246,Cell 211,Mamoru Hosoda,113 min,2009,7.6,Manoj Bajpayee,Nawazuddin Siddiqui,"25,597",Animation,Action,Adventure,7.6,U,$99908
322,296,John Wick: Chapter 3 - Parabellum,Jon Watts,130 min,2019,7.4,Manoj Bajpayee,Nawazuddin Siddiqui,"687,358",Action,Adventure,Sci-Fi,7.4,U,$99908
375,346,Megamind,Gavin O'Connor,95 min,2010,7.3,Manoj Bajpayee,Nawazuddin Siddiqui,"307,406",Action,Thriller,NaN,7.3,18,$99908
434,396,Batman v Superman: Dawn of Justice (Ultimate E...,Terence Young,182 min,2016,7.2,Manoj Bajpayee,Nawazuddin Siddiqui,"173,711",Action,Adventure,Thriller,7.2,A,$99908
490,446,Batman Returns,Antoine Fuqua,126 min,1992,7.1,Manoj Bajpayee,Nawazuddin Siddiqui,"345,203",Action,Drama,Thriller,7.1,A,$99908
540,496,Independence Day,Tom Gormican,145 min,1996,7.0,Manoj Bajpayee,Nawazuddin Siddiqui,"129,353",Action,Comedy,Crime,7.0,A,$99908
589,546,Ip Man 4: The Finale,Louis Leterrier,107 min,2019,7.0,Manoj Bajpayee,Nawazuddin Siddiqui,"106,127",Action,Crime,Thriller,7.0,A,$99908
641,596,Atlantis: The Lost Empire,Desmond Davis,95 min,2001,6.9,Manoj Bajpayee,Nawazuddin Siddiqui,"46,311",Action,Adventure,Family,6.9,A,$99908
697,646,Hellboy,Tommy Wirkola,122 min,2004,6.8,Manoj Bajpayee,Nawazuddin Siddiqui,"129,229",Action,Crime,Fantasy,6.8,A,$99908
699,"1,634",Hellboy,Ana Lily Amirpour,120 min,2019,5.2,Manoj Bajpayee,Nawazuddin Siddiqui,"129,229",Action,Crime,Fantasy,6.8,A,$99908
752,696,Violent Night,James Mangold,112 min,2022,6.7,Manoj Bajpayee,Nawazuddin Siddiqui,"480,125",Action,Sci-Fi,NaN,6.7,UA,$99908
805,746,Machine Gun Preacher,John Irvin,129 min,2011,6.7,Manoj Bajpayee,Nawazuddin Siddiqui,"26,942",Action,Drama,Thriller,6.7,NaN,$99908
858,796,The 13th Warrior,Mario Van Peebles,102 min,1999,6.6,Manoj Bajpayee,Nawazuddin Siddiqui,"37,319",Action,Crime,Drama,6.6,R,$99908
907,846,Fast & Furious,George Lucas,107 min,2009,6.5,Manoj Bajpayee,Nawazuddin Siddiqui,"829,317",Action,Adventure,Fantasy,6.5,UA,$99908
957,896,The Spiderwick Chronicles,Pierre Morel,96 min,2008,6.5,Manoj Bajpayee,Nawazuddin Siddiqui,"67,842",Action,Thriller,NaN,6.5,A,$99908
1019,946,Savages,Jerry Zucker,131 min,I) (2012,6.4,Manoj Bajpayee,Nawazuddin Siddiqui,"119,950",Action,Adventure,Comedy,6.4,PG-13,$99908
1072,996,Night Watch,Makoto Kamiya,114 min,2004,6.4,Manoj Bajpayee,Nawazuddin Siddiqui,"32,306",Animation,Action,Horror,6.4,R,$99908
1122,"1,046",Entrapment,Marcus Dunstan,113 min,1999,6.3,Manoj Bajpayee,Nawazuddin Siddiqui,"69,040",Action,Horror,Thriller,6.3,R,$99908
1169,"1,096",Jack Ryan: Shadow Recruit,Brett Ratner,105 min,2014,6.2,Manoj Bajpayee,Nawazuddin Siddiqui,"176,551",Action,Comedy,Crime,6.2,UA,$99908
1219,"1,146",Tower Heist,David Dobkin,104 min,2011,6.2,Manoj Bajpayee,Nawazuddin Siddiqui,"109,909",Action,Adventure,Comedy,6.2,UA,$99908
1319,"1,246",Mercury Rising,Dwight H. Little,111 min,1998,6.1,Manoj Bajpayee,Nawazuddin Siddiqui,"32,061",Action,Crime,Drama,6.1,A,$99908
1368,"1,296",Transporter 3,Paul W.S. Anderson,104 min,2008,6.0,Manoj Bajpayee,Nawazuddin Siddiqui,"58,330",Action,Drama,Sci-Fi,6.0,A,$99908
1418,"1,346",Iron Sky,Lexi Alexander,93 min,2012,5.9,Manoj Bajpayee,Nawazuddin Siddiqui,"65,461",Action,Crime,Drama,5.9,A,$99908
1464,"1,396",Pride and Prejudice and Zombies,Roar Uthaug,108 min,2016,5.8,Manoj Bajpayee,Nawazuddin Siddiqui,"45,390",Action,Adventure,Drama,5.8,UA 13+,$99908
1513,"1,446",Buffy the Vampire Slayer,Robert Schwentke,86 min,1992,5.7,Manoj Bajpayee,Nawazuddin Siddiqui,"128,323",Action,Adventure,Mystery,5.7,13,$99908
1569,"1,496",Fantastic Four: Rise of the Silver Surfer,Robert Schwentke,92 min,2007,5.6,Manoj Bajpayee,Nawazuddin Siddiqui,"140,238",Action,Adventure,Comedy,5.6,A,$99908
1619,"1,546",The Cloverfield Paradox,Brian Andrew Mendoza,102 min,2018,5.5,Manoj Bajpayee,Nawazuddin Siddiqui,"33,859",Action,Drama,Thriller,5.5,16,$99908
1667,"1,596",Dhoom 3,Mark Steven Johnson,172 min,2013,5.4,Manoj Bajpayee,Nawazuddin Siddiqui,"38,227",Action,Drama,Thriller,5.4,R,$99908
1712,"1,646",Alex Cross,Simon Hunter,101 min,2012,5.2,Manoj Bajpayee,Nawazuddin Siddiqui,"26,837",Action,Adventure,Mystery,5.2,R,$99908
1758,"1,696",Kisi Ka Bhai Kisi Ki Jaan,Frank Miller,145 min,2023,4.7,Manoj Bajpayee,Nawazuddin Siddiqui,"62,188",Action,Crime,Fantasy,4.7,PG-13,$99908

#### Display all details from both tables with the highest ratings

In [99]:
merged_df = df1.merge(df2, on='movie_name', how='inner')

# Find the row(s) with the highest gross collection
max_ratings = merged_df['rating'].max()

highest_rating = merged_df[merged_df['rating'] == max_ratings]
highest_rating

,S.no,movie_name,director,duration,movie_year,rating,star1,star2,votes,genre1,genre2,genre3,popularity,certification,gross
0,1,The Dark Knight,Christopher Nolan,152 min,2008,9.0,Christian Bale,Heath Ledger,"2,741,650",Action,Crime,Drama,9.0,UA,$2741690
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,201 min,2003,9.0,Elijah Wood,Viggo Mortensen,"1,899,228",Action,Adventure,Drama,9.0,U,$1899240

#### Display all details from both tables with the lowest gross collection and lowest ratings

In [133]:
merged_df = df1.merge(df2, on='movie_name', how='inner')

# Find the row(s) with the lowest gross collection and lowest ratings
min_gross = merged_df['gross'].min()
min_rating = merged_df['rating'].min()

#gros=merged_df[(merged_df['rating'] == min_rating)]
                   
lowest_gross_rating_movies = merged_df[(merged_df['gross'] == min_gross) | (merged_df['rating'] == min_rating)]
lowest_gross_rating_movies
#min_gross

,S.no,movie_name,director,duration,movie_year,rating,star1,star2,votes,genre1,genre2,genre3,popularity,certification,gross
16,17,Raiders of the Lost Ark,Steven Spielberg,115 min,1981,8.4,Harrison Ford,Karen Allen,"1,003,504",Action,Adventure,NaN,8.4,A,$1003517
71,66,Rush,Gavin O'Connor,123 min,I) (2013,8.1,Harrison Ford,Karen Allen,"484,102",Action,Drama,Sport,8.1,UA,$1003517
124,116,Children of Men,Neill Blomkamp,109 min,2006,7.9,Harrison Ford,Karen Allen,"698,050",Action,Sci-Fi,Thriller,7.9,A,$1003517
180,166,Minnal Murali,Christopher McQuarrie,158 min,2021,7.8,Harrison Ford,Karen Allen,"353,843",Action,Adventure,Thriller,7.8,U/A,$1003517
233,216,Harry Potter and the Half-Blood Prince,Paul Verhoeven,153 min,2009,7.6,Harrison Ford,Karen Allen,"269,497",Action,Crime,Sci-Fi,7.6,UA,$1003517
292,266,Source Code,Anders Thomas Jensen,93 min,2011,7.5,Harrison Ford,Karen Allen,"56,259",Action,Comedy,Drama,7.5,NaN,$1003517
342,316,Black Dynamite,Keishi Otomo,84 min,2009,7.4,Harrison Ford,Karen Allen,"27,866",Action,Adventure,Drama,7.4,NaN,$1003517
395,366,Nikita,Stephen Chow,117 min,1990,7.3,Harrison Ford,Karen Allen,"84,689",Action,Comedy,Fantasy,7.3,U,$1003517
454,416,The Italian Job,Sergio Corbucci,99 min,1969,7.2,Harrison Ford,Karen Allen,"29,659",Action,Drama,Western,7.2,A,$1003517
456,508,The Italian Job,J.J. Abrams,111 min,2003,7.0,Harrison Ford,Karen Allen,"29,659",Action,Drama,Western,7.2,A,$1003517
510,466,Kung Fu Panda 3,Brian Helgeland,95 min,2016,7.1,Harrison Ford,Karen Allen,"141,902",Action,Crime,Drama,7.1,A,$1003517
559,516,Cloverfield,Len Wiseman,85 min,2008,7.0,Harrison Ford,Karen Allen,"278,258",Action,Fantasy,Thriller,7.0,A,$1003517
609,566,Sisu,Tony Scott,91 min,2022,6.9,Harrison Ford,Karen Allen,"478,773",Action,Drama,NaN,6.9,U,$1003517
667,616,Trust,Michael Caton-Jones,106 min,I) (2010,6.9,Harrison Ford,Karen Allen,"29,557",Action,Drama,War,6.9,NaN,$1003517
719,666,Spies in Disguise,Lewis Gilbert,102 min,2019,6.8,Harrison Ford,Karen Allen,"113,857",Action,Adventure,Thriller,6.8,A,$1003517
775,716,The Man with the Golden Gun,John Glen,125 min,1974,6.7,Harrison Ford,Karen Allen,"102,621",Action,Adventure,Thriller,6.7,UA,$1003517
825,766,The Other Guys,Louis Leterrier,107 min,2010,6.6,Harrison Ford,Karen Allen,"508,609",Action,Adventure,Sci-Fi,6.6,UA,$1003517
878,816,Lethal Weapon 4,Eric Darnell,127 min,1998,6.6,Harrison Ford,Karen Allen,"97,050",Animation,Action,Adventure,6.6,PG,$1003517
927,866,Terminator Salvation,Wolfgang Petersen,115 min,2009,6.5,Harrison Ford,Karen Allen,"173,296",Action,Adventure,Drama,6.5,UA,$1003517
980,916,War,David Mamet,154 min,2019,6.5,Harrison Ford,Karen Allen,"32,586",Action,Crime,Drama,6.5,R,$1003517
982,"1,154",War,Gene Quintano,103 min,2007,6.2,Harrison Ford,Karen Allen,"32,586",Action,Crime,Drama,6.5,R,$1003517
1039,966,Shaft,Rob Cohen,111 min,2019,6.4,Harrison Ford,Karen Allen,"99,914",Action,Adventure,Fantasy,6.4,UA,$1003517
1041,"1,286",Shaft,Henry Joost,99 min,2000,6.0,Harrison Ford,Karen Allen,"99,914",Action,Adventure,Fantasy,6.4,UA,$1003517
1091,"1,016",Terminator Genisys,Jaume Collet-Serra,126 min,2015,6.3,Harrison Ford,Karen Allen,"138,821",Action,Drama,Horror,6.3,A,$1003517
1141,"1,066",The Dead Pool,Richard Donner,91 min,1988,6.3,Harrison Ford,Karen Allen,"86,147",Action,Crime,Thriller,6.3,A,$1003517
1189,"1,116",The Divergent Series: Insurgent,Taylor Hackford,119 min,2015,6.2,Harrison Ford,Karen Allen,"126,369",Action,Crime,Thriller,6.2,A,$1003517
1238,"1,166",Ong Bak 2,Akan Satayev,98 min,2008,6.2,Harrison Ford,Karen Allen,"42,699",Action,Drama,History,6.2,NaN,$1003517
1290,"1,216",Push,Kevin Smith,111 min,2009,6.1,Harrison Ford,Karen Allen,"65,936",Action,Crime,Horror,6.1,R,$1003517
1339,"1,266",Van Helsing,Kyle Newacheck,131 min,2004,6.0,Harrison Ford,Karen Allen,"157,932",Action,Comedy,Crime,6.0,12,$1003517
1388,"1,316",K-9,Keanu Reeves,101 min,1989,6.0,Harrison Ford,Karen Allen,"40,264",Action,Drama,NaN,6.0,R,$1003517
1438,"1,366",Another 48 Hrs.,Mikael Salomon,95 min,1990,5.9,Harrison Ford,Karen Allen,"36,517",Action,Crime,Drama,5.9,R,$1003517
1484,"1,416",Air America,Rowdy Herrington,113 min,1990,5.8,Harrison Ford,Karen Allen,"44,427",Action,Crime,Mystery,5.8,A,$1003517
1533,"1,466",Ben-Hur,Walter Hill,123 min,2016,5.7,Harrison Ford,Karen Allen,"51,312",Action,Crime,Thriller,5.7,A,$1003517
1555,"1,484",Charlie's Angels,Dennis Dugan,98 min,2000,5.6,Harrison Ford,Karen Allen,"72,902",Action,Adventure,Comedy,5.0,U,$1003517
1557,"1,666",Charlie's Angels,Richard Lester,118 min,2019,5.0,Harrison Ford,Karen Allen,"72,902",Action,Adventure,Comedy,5.0,U,$1003517
1589,"1,516",MacGruber,Dito Montiel,90 min,2010,5.6,Harrison Ford,Karen Allen,"33,814",Action,Crime,Drama,5.6,PG-13,$1003517
1639,"1,566",Gunjan Saxena: The Kargil Girl,Jerry,112 min,2020,5.5,Harrison Ford,Karen Allen,"29,234",Action,Drama,Romance,5.5,NaN,$1003517
1684,"1,616",Spy Kids 2: Island of Lost Dreams,Julie Anne Robinson,100 min,2002,5.3,Harrison Ford,Karen Allen,"43,418",Action,Comedy,Crime,5.3,PG-13,$1003517
1756,"1,694",Elektra,Willard Huyck,97 min,2005,4.7,Tatsuya Nakadai,Akira Terao,"49,283",Action,Adventure,Comedy,4.7,U,$130327
1757,"1,695",Howard the Duck,Farhad Samji,110 min,1986,4.7,Natsuki Hanae,Akari Kitô,"38,865",Action,Comedy,Drama,4.7,UA,$66121
1758,"1,696",Kisi Ka Bhai Kisi Ki Jaan,Frank Miller,145 min,2023,4.7,Manoj Bajpayee,Nawazuddin Siddiqui,"62,188",Action,Crime,Fantasy,4.7,PG-13,$99908
1759,"1,697",The Spirit,Ben Stiller,103 min,2008,4.7,Prabhas,Rana Daggubati,"73,346",Action,Adventure,Comedy,4.7,U,$108098
1760,"1,698",Zoolander 2,Jonathan Levine,101 min,2016,4.7,Toshirô Mifune,Eijirô Tôno,"36,636",Action,Adventure,Comedy,4.7,R,$126747
1761,"1,699",Snatched,Dwight H. Little,90 min,2017,4.7,Vicky Kaushal,Paresh Rawal,"32,861",Action,Adventure,Horror,4.7,U,$68321